<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI9xXRFzjRA0uXL6XpNxgYKokgE7GpFus</string>
	<key>GCM_SENDER_ID</key>
	<string>677446347525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.life.lynkan.lynkAn</string>
	<key>PROJECT_ID</key>
	<string>lynkan-d03bc</string>
	<key>STORAGE_BUCKET</key>
	<string>lynkan-d03bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677446347525:ios:8c80dcccd3261807de656c</string>
</dict>
</plist>